name: Features - Auto

on:
  repository_dispatch:
    types: [update-event]
 
jobs:
  download-and-extract:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
   

    - name: Install modules
      run: |
        pip install -r requirements.txt


    - name: Download & Extract
      env:
        DEBUG: ${{ secrets.DEBUG }}
      run: |
        python src/main.py ${{ github.event.client_payload.app }} ${{ github.event.client_payload.platform }} ${{ github.event.client_payload.source }} ${{ github.event.client_payload.type }} ${{ github.event.client_payload.msgId }} ${{ github.event.client_payload.vername }} ${{ github.event.client_payload.vercode }} ${{ github.event.client_payload.downLink }}

    - name: Add extracted file to Git
      id: vars
      run: |
        git fetch
        CHANGES=$(git diff --name-only origin/main)
        if [ -n "$CHANGES" ]; then
          echo "Changes found."
          python src/git.py
          echo "PUSH=1" >> $GITHUB_OUTPUT
        else
          echo "No changes found."
          echo "PUSH=0" >> $GITHUB_OUTPUT
        fi

    - name: Commit data
      uses: rlespinasse/git-commit-data-action@v1 
      
    - name: Changes to Telegram
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        CHANNEL_NAME: ${{ secrets.CHANNEL_NAME }}
        SHARE_TO_TELE: ${{ secrets.SHARE_TO_TELE }}
        DEBUG: ${{ secrets.DEBUG }}
        TOPIC_ID_X: ${{ secrets.TOPIC_ID_X }}
        TOPIC_ID_GROK: ${{ secrets.TOPIC_ID_GROK }}
        PINNED_MSG_X: ${{ secrets.PINNED_MSG_X }}
        PINNED_MSG_GROK: ${{ secrets.PINNED_MSG_GROK }}
      run: |      
        python src/sendTelegram.py