name: Features - Manual (Tele)


on:
  workflow_dispatch:
    inputs:
      appname_input:
        description: 'App name - X/Grok'
        required: true     
      type_input:
        description: 'Release type - Stable/Beta/Alpha'
        required: true     
      platform_input:
        description: 'Platform - Android/iOS/Web'
        required: true     
      source_input:
        description: 'Source [apt(Aptoide) / apkc(ApkCombo) / web(Web)]'
        required: true
      vername_input:
        description: 'Enter the vername'
        required: true
      vercode_input:
        description: 'Enter the vercode'
        required: true
      downLink_input:
        description: 'Enter Download Link'
        required: true
      msg_id_input:
        description: 'Message ID'
        required: true
 

jobs:
  download-and-extract:
    runs-on: ubuntu-latest
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
      CHANNEL_NAME: ${{ secrets.CHANNEL_NAME }}
      PIN_MSG: ${{ secrets.X_PIN_MSG }}
      DEBUG: ${{ secrets.DEBUG }}
      SHARE_TO_TELE: ${{ secrets.SHARE_TO_TELE }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    

    - name: Install modules
      run: |
        pip install -r requirements.txt


    - name: Download & Extract
      run: |
        python src/main.py ${{ github.event.inputs.appname_input }} ${{ github.event.inputs.platform_input }} ${{ github.event.inputs.source_input }} ${{ github.event.inputs.type_input }} ${{ github.event.inputs.msg_id_input }} ${{ github.event.inputs.vername_input }} ${{ github.event.inputs.vercode_input }} ${{ github.event.inputs.downLink_input }} ${{ env.DEBUG }}
        
    - name: Add extracted file to Git
      id: vars
      run: |
        git fetch
        CHANGES=$(git diff --name-only origin/main)
        if [ -n "$CHANGES" ]; then
          echo "Changes found."
          python src/git.py
          echo "PUSH=1" >> $GITHUB_OUTPUT
        else
          echo "No changes found."
          echo "PUSH=0" >> $GITHUB_OUTPUT
        fi
    
    - name: Commit data
      uses: rlespinasse/git-commit-data-action@v1

    - name: Changes to Telegram
      run: |      
        python src/sendTelegram.py ${{ env.BOT_TOKEN }} ${{ env.CHANNEL_ID }} ${{ env.CHANNEL_NAME }} ${{ env.X_PIN_MSG }} ${{ env.SHARE_TO_TELE }} ${{ env.DEBUG }}